body {
    color:#ccc !important;
    background-color: #333 !important;
    transition:0.5s !important;
}
.modern-panel{
    background-color: #3f3f3f !important;
    border-radius: 12px !important;
}
.panel{
    background-color: #3f3f3f !important;
    border-radius: 12px !important;
}
.panel-default{
    border-color: transparent !important;
}
hr{
    border-color: transparent !important;
}
.modern-navigation.classes-navigation .content-wrapper .classes_navigation_sidebar {
    background-color: #333 !important;
}
.modern-page{
    color:#999 !important;
}
.wrapper-content{
    background: #333 none repeat scroll 0 0 !important;
}
.modern-navigation .navigation-header{
    background-color: #3f3f3f !important;
    border-bottom: 2px solid #333 !important;
    color: #999 !important;
}
.modern-placement.modern-placement-bgc-grey-soft {
    background-color: #333 !important;
    border:2px solid #333 !important;
    color:#999 !important;
}
button.btn-modern-link-grey, .btn-modern.btn-modern-link-grey{
    color: #999 !important;
}
.modern-navigation.classes-navigation .top-nav-bar {
    border-bottom: 0px solid #f1f1f5 !important;
}
button.btn-modern-link-grey i, .btn-modern.btn-modern-link-grey i {
    color:#999 !important;
}
.modern-page .bg-white {
    background-color: #3f3f3f !important;
}
.main-content{
    background-color: #333 !important;
}
.modern-panel.modern-panel-decorated.modern-panel-grey-soft {
    border: 2px solid #3f3f3f !important;
    border-top: 8px solid #3f3f3f !important;
}
.modern-panel.modern-panel-decorated.modern-panel-primary-subpanel{
    border: 2px solid #3f3f3f !important;
    border-top: 8px solid #3f3f3f !important;
}
.modern-panel.modern-panel-decorated .panel-heading, .modern-panel.modern-panel-decorated .panel-body, .modern-panel.modern-panel-decorated .panel-footer {
    background-color: #343434 !important;
}
.modern-page .text-subtext-color {
    color: #999 !important;
}
.classes-navigation-step-element.active {
    border: 0px solid #444 !important;
    background-color: #3f3f3f !important;
    /* border-radius: 12px !important; */
}
.modern-page .text-black {
    color: #999 !important;
}
.classes-navigation-step-element {
    border-radius: 12px !important;
}
.classes-navigation-step-element:hover {
    background-color: #444 !important;
}
.modern-panel.modern-panel-decorated.modern-panel-primary-subpanel>*:not(:last-child) {
    border-bottom: 1px solid #3f3f3f !important;
}
.modern-panel table.table-modern>thead>tr, table.table-modern.table-outlined>thead>tr {
    border-bottom: 0px solid #333 !important;
}
pre.pre-samples {
    color: #999 !important;
}
table.table-modern>tbody>tr, table.table-modern>tbody>tr>td {
    border-radius: 12px !important;
}
.modern-panel table.table-modern, table.table-modern.table-outlined {
    outline: 1px solid #333 !important;
    outline-offset: -1px !important;
}
.modern-panel table.table-modern>thead>tr, table.table-modern.table-outlined>thead>tr {
    border-bottom: 1px solid #3f3f3f !important;
}
table.table-modern>thead>tr {
    background-color: #333 !important;
    color: #696974 !important;
}
table.table-modern tr {
    background-color: #3f3f3f !important;
}
.panel-background, table .panel-background {
    background: #333 !important;
    border-radius: 12px !important;
}
table.table-modern {
    border-radius: 12px !important;
}
.scroll-x-auto {
    border-radius: 12px !important;
}
.modern-panel table.table-modern>tbody>tr:not(:last-child), table.table-modern.table-outlined>tbody>tr:not(:last-child) {
    border-bottom: 1px solid #333 !important;
}
button.btn-modern-default, .btn-modern.btn-modern-default, .modern-page .btn-default, a.btn-modern-default {
    border: 2px solid #333 !important;
    background-color: #3f3f3f !important;
    color: #999 !important;
}
button.btn-modern-default i, .btn-modern.btn-modern-default i, .modern-page .btn-default i, a.btn-modern-default i {
    color: #999 !important;
}
.CodeMirror {
    background-color: #333 !important;
    border-radius: 12px !important;
    color: #999 !important;
}
.vue-codemirror-wrap .CodeMirror-linenumber {
    background: #333 !important;
}
.run-code__footer {
    border:none !important;
}
.run-code__header{
    border: none !important;
}
.problem-tabs.nav-tabs>li>a, .problem-tabs.nav-tabs>li:hover>a {
    color: #999 !important;
}
.skin-1 .nav.nav-tabs>li.active>a {
    color: #3f3f3f !important;
}
ul{
    display: flex;
    justify-content: center;
}
.skin-1 .nav.nav-tabs>li.active>a {
    color: #ccc !important;
}
.modern-dropdown-list>.dropdown-menu .modern-list-group__item.active, .modern-dropdown-list.dropdown-menu .modern-list-group__item.active, .modern-list-group .modern-list-group__item.active {
    background: #3f3f3f !important;
}
.modern-dropdown-list>.dropdown-menu .modern-list-group__item:hover, .modern-dropdown-list.dropdown-menu .modern-list-group__item:hover, .modern-list-group .modern-list-group__item:hover {
    background-color: #343434 !important;
}
.modern-dropdown-list>.dropdown-menu .modern-list-group__item, .modern-dropdown-list.dropdown-menu .modern-list-group__item, .modern-list-group .modern-list-group__item {
    color: #999 !important;
}
.modern-dropdown-list>.dropdown-menu, .modern-dropdown-list.dropdown-menu, .modern-list-group {
    background-color: #333 !important;
}
.problem-tabs.nav-tabs>li.active>a {
    background: #3f3f3f !important;
}
.formulate-input-wrapper .modern-select .vs__dropdown-toggle, .modern-page .shp__vs .vs__dropdown-toggle, .guideline-select .vs__dropdown-toggle, .vs__dropdown-menu--popper .vs__dropdown-toggle {
    border: 2px solid #333 !important;
    background-color: #3f3f3f !important;
}
.formulate-input-wrapper:hover .modern-select:hover .vs__dropdown-toggle:hover, .modern-page:hover .shp__vs:hover .vs__dropdown-toggle:hover, .guideline-select:hover .vs__dropdown-toggle:hover, .vs__dropdown-menu--popper:hover .vs__dropdown-toggle:hover {
    border-radius: 2px solid #444 !important;
}
.modern-page .formulate-input-wrapper input, .modern-page .formulate-input-wrapper textarea, .shp-modern-modal .formulate-input-wrapper input, .shp-modern-modal .formulate-input-wrapper textarea {
    background-color: #3f3f3f !important;
}
.modern-input .textarea-grabber {
    border-color: transparent #333 #333 transparent !important;
    border-bottom-right-radius: 12px !important;
}
.modern-page .formulate-input-wrapper .formulate-input-element textarea, .shp-modern-modal .formulate-input-wrapper .formulate-input-element textarea {
    border: 2px solid #333 !important;
    border-radius: 12px !important;
}
.formulate-input-wrapper .modern-select .vs__selected-options .vs__selected, .modern-page .shp__vs .vs__selected-options .vs__selected, .guideline-select .vs__selected-options .vs__selected, .vs__dropdown-menu--popper .vs__selected-options .vs__selected {
    color: #999 !important;
}
.modern-page .formulate-input-wrapper input, .modern-page .formulate-input-wrapper textarea, .shp-modern-modal .formulate-input-wrapper input, .shp-modern-modal .formulate-input-wrapper textarea {
    color: #999 !important;
}
.modern-panel.modern-panel-bgc-success-soft:not(.modern-panel-decorated), .modern-placement.modern-placement-bgc-success-soft {
    background-color: #ecf6e2 !important;
}
.CodeMirror-hints{
    display: inline !important;
}
.cm-s-default .cm-keyword {
    color: #0064cd !important;
}
.cm-s-default .cm-builtin {
    color: #15bc5c !important;
}
.cm-s-default .cm-number {
    color: #cd8100 !important;
}
.cm-s-default .cm-string {
    color: #d64f00 !important;
}
.modern-panel.modern-panel-decorated.modern-panel-success-soft {
    border: 2px solid #27ae60 !important;
    border-top: 8px solid #27ae60 !important;
    background-color: #27ae60 !important;
}
.modern-panel.modern-panel-bgc-success-soft:not(.modern-panel-decorated), .modern-placement.modern-placement-bgc-success-soft {
    background-color: #27ae60 !important;
    color: #d6d6d6 !important;
}
table.table-modern>tbody>tr, table.table-modern>tbody>tr>td {
    color: #999 !important;
}
code {
    background-color: #333 !important;
    color: #2980b9 !important;
}
.linear-progress__wrapper.linear-progress__success .linear-progress__color {
    background: #27ae60 !important;
}
.linear-progress__wrapper.linear-progress__primary .linear-progress__background {
    background: #ffffff !important;
}
.rate_lesson_info {
    background-color: #3f3f3f !important;
    border-radius: 12px !important;
}
.modal-content {
    background: #333 !important;
    border-radius: 12px !important;
}
.modern-navigation .first-level-menu {
    background-color: #3f3f3f;
}
div.bg-orange-light>div.panel-heading {
    background: #333;
    border-radius: 12px 12px 0px 0px;
}
.panel .panel, .panel .panel .panel-body, .panel .panel .list-group {
    background: #333;
    border-radius: 0px 0px 12px 12px;
}
.label-light-danger {
    color: #fff !important;
    background-color: #ff5656 !important;
}
.label-light-success {
    color: #FFF !important;
    background-color: #27ae60 !important;
}
.label-light-info {
    color: #fff !important;
    background-color: #3498db !important;
}
.modern-navigation .first-level-menu {
    background-color: #3f3f3f !important;
}
.modern-navigation .top-nav-bar__content {
    height: 40.5px;
    border-bottom: none !important;
}
.panel-default>.panel-heading {
    color: #ccc !important;
    background-color: #333 !important;
    border-color: #3f3f3f !important;
    border-radius: 12px 12px 0px 0px !important;
}
.shp-square-white {
    background-color: #3f3f3f !important    ;
}
.shp-square.question_square {
    border: 1px solid #3f3f3f !important;
}
.btn-default {
    color: #ccc !important;
    background-color: #3f3f3f !important;
    border-color: none !important;
    border-radius: 12px !important;

}

.shp-datepicker .shp-datepicker__danger>span {
    color: #fff !important;
    background: #ff5656 !important;
}
.shp-datepicker .shp-datepicker__success>span {
    color: #fff !important;
    background: #27ae60 !important;
}
.panel-body-stripped>* {
    border-top: 1px solid #333 !important;
}
.panel>.panel-body .panel-row~.panel-row, .panel>.panel-body .panel-row~.panel-row-md, .panel>.panel-body .panel-row-md~.panel-row, .panel>.panel-body .panel-row-md~.panel-row-md {
    border-top: none !important;
}
.modern-navigation .third_level_menu__title {
    background-color: #333 !important;
}
.text-danger {
    color: #ff5656 !important;
}
.pagination>li>a, .pagination>li>span {
    background-color: #3f3f3f !important;
    border: none !important;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background-color: #3f3f3f !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #3f3f3f !important;
}
.shp-datepicker .shp-datepicker__today {
    color: #eee !important;
}
.shp-datepicker .shp-datepicker__selected_week {
    background:none !important;
}
.modern-navigation .first-level-menu .menu-item {
    color: #999 !important; 
}
.form-control, .single-line {
    background-color: #3f3f3f !important;
    border: none !important;
}
.modern-label.modern-label-primary {
    color: #fff !important;
    background-color: #0062ff !important;
    border-color: #0062ff !important;
}
.modern-label.modern-label-amazing {
    color: #ffffff !important;
    background-color: #8a00ed !important;
}
.nav.nav-tabs.modern-nav-tabs-regular>li>a, .nav.nav-tabs.modern-nav-tabs-regular li.open>a {
    background-color: #0062ff !important;
    color: #fff !important;
}

.vertical-divider {
    background-color: #333 !important;
}
.modern-page h3, .modern-page .h3 {
    color: #ccc !important;
}
.shp_list-stripped>.shp_list__item~.shp_list__item, .shp_list-stripped>.shp_list__item~.shp_list-stripped, .shp_list-stripped>.shp_list-stripped~.shp_list__item {
    border-top: 2px #333 solid !important;
}
table tbody tr:nth-child(n) td.white-background, table tbody tr:nth-child(n) th.white-background, .white-background {
    background-color: #3f3f3f !important;
    border-radius: 12px !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #3f3f3f !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none !important;
}
.textbook__grey_border {
    border-bottom: none !important;
}
.table.table-striped>tbody:last-child>tr:last-child>td, .table.table-striped>tbody:last-child>tr:last-child>th {
    border-bottom: none !important;
}
.sticky_panel-lg {
    background: #333 !important;
}
.modern-placement {
    border-radius: 10px !important;
    background-color: #333 !important;
}
.btn{
    border-radius: 8px !important;
}
.btn-primary {
    border-color: #3f3f3f !important;
    border-radius: 8px !important;
}
.modern-page .text-error {
    color: #ff5656 !important;
}
.text-muted{
    color: inherit !important;
}
.rate_modal__comment {
    background: #3f3f3f !important;
    border: none !important;
    border-radius: 12px !important;
}
.shp-chat .shp-chat__discussions-list, .shp-chat .shp-chat__discussion-detail {
    background-color: #3f3f3f !important;
}
.modern-input__icon-group {
    border: none !important;
    background-color: none !important;
}
.modern-panel.modern-panel-decorated.modern-panel-amazing-soft {
    border: 2px solid #f5f5f5 !important;
    border-top: 8px solid #f5f5f5 !important;
    background-color: #f5f5f5 !important;
}
.modern-page .text-button {
    color: #ccc !important;
}
.popover{
    background-color: #333 !important;
}
.shp-mark-success {
    background: #27ae60 !important;
    color: #fff !important;
}
.shp-checkbox:hover, .shp-checkbox.shp-checkbox-hover {
    background: #3f3f3f !important;
}
.shp-checkbox {
    background: linear-gradient(180deg, #333 0%, #343434 100%) !important;
}
.show-more-btn, .show-less-btn {
    background-color: #333 !important;
}
[aria-expanded=false] .text-fade::before {background: linear-gradient(rgba(255, 255, 255, 0) 250px, #3f3f3f 300px, #fff) !important;}
.modern-page .bg-success {
    background-color: #27ae60 !important;
    border-radius: 12px !important;
}
.text-ellipsis {
    color: #ccc !important;
}
.gap-sm>.text-label {
    color: #ccc !important;
}
.shp-chat .shp-chat__discussion-detail .shp-chat__discussion-comment-wrapper .shp-chat__discussion-message-wrapper .shp-chat__discussion-message.shp-chat__discussion-message_by-user {
    background-color: #0064cd !important;
    color:#fff !important;
    background-color: #4f4f4f !important
}
.modern-panel.modern-panel-grey-soft, .modern-placement.modern-placement-grey-soft {
    border: 2px solid #3f3f3f !important;
}
.modern-divider {
    height: 2px !important;
    background-color: #3f3f3f !important;
}
.shp-mavon-editor {
    background-color: #333 !important;
    border-top: 2px solid #3f3f3f !important;
    /* border-radius: 12px; */
}
.shp-mavon-editor .shp-mavon-editor__tools .shp-mavon-editor__tools-group, .shp-mavon-editor .shp-mavon-editor__tools .shp-mavon-editor__tools-subgroup {
    border-left: 2px solid #3f3f3f !important;
}
.auto-textarea-wrapper .auto-textarea-input.no-resize {
    background: #333 !important;
    color:#ccc;
}
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper.single-edit {
    background-color: #333 !important;
}
.shp-mavon-editor .shp-mavon-editor__editor-container .shp-mavon-editor__editor.markdown-body {
    border: 2px solid #3f3f3f !important;
}
.shp-chat .shp-chat__discussion-detail .shp-chat__discussion-detail-header {
    border-bottom: 2px solid #3f3f3f !important;
}
.shp-chat__discussion-card:hover:not(.active) {
    background-color: #3f3f3f !important;
}
.modern-page .text-placeholder-color {
    color: #696974 !important;
}
.panel-default>.panel-heading {
    background-color: #3f3f3f !important;
}
.testing_panel__display_list .panel .panel-body {
    border: 2px solid #3f3f3f !important;
}
.question__content {
    margin-top: 10px !important;
}
.modern-page .bg-warning {
    background-color: #ffd160 !important;
    border-radius: 12px !important;
}
.panel-footer {
    background-color: #333 !important;
    border-top: 1px solid #333 !important;
}
.startBtn__imgWrapper {
    background: #333 !important;
    border: none !important;
}
.startBtn--outside.startBtn--light .startBtn__button {
    background-color: #333 !important;
}
.widget--horizontal.widget--left, .widget--horizontal.widget--right {
    background: #333 !important;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #3f3f3f !important;
}
.table-bordered {
    border: 1px solid #3f3f3f !important;
}
.btn-white {
    color: #4f4f4f !important;
    background-color: #333 !important;
    border-color: #3f3f3f !important    ;
}
.dropdown-menu>li>a {
    color: #ccc !important;
    background: #333 !important;
}
.dropdown-menu {
    background-color: #333 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ccc !important;
    text-decoration: none !important;
    background-color: #3f3f3f !important;
    box-shadow: 0 0 3px #696974 !important;
}
.btn-white:hover .btn-white:focus{
    color: inherit !important;
    background-color: #3f3f3f !important;
    border-color: #4f4f4f !important;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    border-radius: 12px !important;
}
.table>caption+thead>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>th, .table>thead:first-child>tr:first-child>td {
    background: #333 !important;
}
div>span{
    color: rgb(204, 204, 204) !important;
}
.startBtn--light .startBtn__button {
    background-color: #3f3f3f !important;
}
.widget--light {
    background-color: #3f3f3f !important;
}
button.btn-modern-primary:disabled, button.btn-modern-primary.disabled, .btn-modern.btn-modern-primary:disabled, .btn-modern.btn-modern-primary.disabled, .modern-page .btn-primary:disabled, .modern-page .btn-primary.disabled, a.btn-modern-primary:disabled, a.btn-modern-primary.disabled {
    background-color: rgb(55 97 165) !important;
    color: #ccc !important;
}
pre{
    background-color: #333 !important;
    border: 1px solid #444 !important;
    border-radius: 12px !important;
    color: #aaa !important;
}
.problem-code-panel__footer {
    border-top: 1px solid #333 !important;
}
.problem-code-panel {
    border-radius: 12px !important;
    border: 1px solid #333 !important;
}
pre.pre-samples {
    border-radius: 0px !important;
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.modern-panel table.table-modern.table-modern-simple, table.table-modern-simple {
    border-radius: 12px !important;
    overflow: hidden !important;
}
.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    border: none !important;
    background: none !important;
}
.modern-panel.modern-panel-decorated.modern-panel-success-soft>*:not(:last-child) {
    border-bottom: 1px solid rgb(39, 174, 96) !important;
}
.modern-panel.modern-panel-decorated.modern-panel-error-soft {
    border: 2px solid rgb(255 116 116) !important;
    border-top: 8px solid rgb(255 116 116) !important;
    background-color: rgb(255 116 116) !important;
}
.modern-panel.modern-panel-decorated.modern-panel-error-soft>*:not(:last-child) {
    border-bottom: 1px solid rgb(255 116 116) !important;
}
.linear-progress__wrapper.linear-progress__error .linear-progress__background {
    background: #FFF !important;
}
.linear-progress__wrapper.linear-progress__error .linear-progress__color {
    background: rgb(255, 116, 116) !important;
}
.file-header {
    background-color: #3f3f3f !important;
    border-radius: 12px 12px 0px 0px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.shp-file {
    border: 1px #4f4f4f solid !important;
    border-radius: 12px !important;
}
.file-footer{
    border-top: 1px solid #4f4f4f !important;
    border-radius: 0px 0px 12px 12px !important;
    background-color: #3f3f3f !important;
}
.shp-chat .shp-chat__discussions-list .shp-chat__discussions-list-footer:hover {
    background-color: #3f3f3f !important;
}
.shp-chat .shp-chat__discussions-list .shp-chat__discussions-list-header {
    border-bottom: 1px solid #3f3f3f !important;
}
.v-note-wrapper .modern-input__icon-group {background-color: inherit !important;}
.shp-chat .shp-chat__discussion-detail .shp-chat__discussion-notifications .feed-event:not(:last-child) {
    border-bottom: 1px solid #3f3f3f !important;
}
.feed-event-content:hover {
    background-color: #3f3f3f !important;
}
.modern-panel.modern-panel-decorated.modern-panel-warning-soft {
    border: 2px solid rgb(255 208 126) !important;
    border-top: 8px solid rgb(255 208 126) !important;
    background-color: rgb(255 208 126) !important;
}
.modern-panel.modern-panel-decorated.modern-panel-warning-soft>*:not(:last-child) {
    border-bottom: 1px solid rgb(255 208 126) !important;
}
@media (min-width: 1024px) {
    .startBtn--light .startBtn__button {
        background-color: #3f3f3f !important;
    }
}
.widget--light {
    background-color: #3f3f3f !important;
}
.modern-navigation .navigation-footer {
    background-color: #333 !important;
    border-top: none !important;
}
.modern-navigation .navigation-footer>:first-child {
    border-radius: 12px 12px 0 0 !important;
}
.modal-header {
    border-bottom: 1px solid #3f3f3f !important;
}
.close {color: #ffffff ;}
.modern-panel.modern-panel-primary-subpanel-dark, .modern-placement.modern-placement-primary-subpanel-dark {
    border: 1px solid #0062ff !important;
}
.client-contract__card .card-buttons-container-divider {
    background-color: #4f4f4f !important;
}
.panel-body-stripped :first-child {
    border-top: none !important;
}
.formulate-input-wrapper .modern-select .vs__dropdown-menu, .formulate-input-wrapper .modern-select.vs__dropdown-menu, .modern-page .shp__vs .vs__dropdown-menu, .modern-page .shp__vs.vs__dropdown-menu, .guideline-select .vs__dropdown-menu, .guideline-select.vs__dropdown-menu, .vs__dropdown-menu--popper .vs__dropdown-menu, .vs__dropdown-menu--popper.vs__dropdown-menu {background-color: #3f3f3f !important;}
.formulate-input-wrapper .modern-select .vs__dropdown-menu .vs__dropdown-option--selected, .formulate-input-wrapper .modern-select .vs__dropdown-menu .modern-select-selected, .formulate-input-wrapper .modern-select.vs__dropdown-menu .vs__dropdown-option--selected, .formulate-input-wrapper .modern-select.vs__dropdown-menu .modern-select-selected, .modern-page .shp__vs .vs__dropdown-menu .vs__dropdown-option--selected, .modern-page .shp__vs .vs__dropdown-menu .modern-select-selected, .modern-page .shp__vs.vs__dropdown-menu .vs__dropdown-option--selected, .modern-page .shp__vs.vs__dropdown-menu .modern-select-selected, .guideline-select .vs__dropdown-menu .vs__dropdown-option--selected, .guideline-select .vs__dropdown-menu .modern-select-selected, .guideline-select.vs__dropdown-menu .vs__dropdown-option--selected, .guideline-select.vs__dropdown-menu .modern-select-selected, .vs__dropdown-menu--popper .vs__dropdown-menu .vs__dropdown-option--selected, .vs__dropdown-menu--popper .vs__dropdown-menu .modern-select-selected, .vs__dropdown-menu--popper.vs__dropdown-menu .vs__dropdown-option--selected, .vs__dropdown-menu--popper.vs__dropdown-menu .modern-select-selected {background: #4f4f4f !important;}
.vs__dropdown-option--highlight {
    background: #3a3a3a !important;
    color: #e7eaec !important;
}
.vs__dropdown-option{color: #ccc !important;}
.bs-callout {
    border-color: #3f3f3f !important;
    border-radius: 12px !important;
    background-color: #3f3f3f !important;
}
.bs-callout-danger {
    border-left-color: rgb(255, 86, 86) !important;
}
.shp-chat .shp-chat__discussions-list, .shp-chat .shp-chat__discussion-detail {
    background-color: #3F3F3F !important;
}
.shp-chat {
    background: #333 !important;
}
.shp-chat__discussion-card.active {
    background-color: #4f4f4f !important;
}
.shp-chat .shp-chat__discussions-list .shp-chat__discussions-list-footer {
    border-top: 1px solid #333 !important;
}
body.skin-1 {
    background: #333 none repeat scroll 0 0 !important;
}
.article__content>ul>li>span {
    color: #ccc !important;
}
.media-object {
    border-radius: 12px !important;
}
.clear.shp-clear.problem-contest__statement>div>ul>li>span {
    color: #ccc !important;
}
.clear.shp-clear.problem-contest__statement>div>p>span {
    color: #ccc !important;
}
.clear.shp-clear.problem-contest__statement>div>p>strong>span {
    background-color: #3f3f3f !important;
}
.panel-background.problem-element__footer>div>.btn-group>a {
    border-radius: 12px 0px 0px 12px !important;
    border: 1px solid #2980b9 !important;
    height: 35px !important;
}
.panel-background.problem-element__footer>div>.btn-group>button {
    border-radius: 0px 12px 12px 0px !important;
    z-index: 9999 !important;
    height: 35px !important;
}
.panel-background.problem-element__footer>div>.btn-group>a:hover {
    border-color: #20638f !important;
    border-left: none !important;
}
.dropdown-menu {border-radius: 12px !important;}
.dropdown-menu>li>a {border-radius: 12px !important;}
.btn-lg, .btn-group-lg>.btn {border-color: #4f4f4f !important;}
.btn-lg, .btn-group-lg>.btn:hover {border-color: #5f5f5f !important;}
.cm-s-default .mirror-muted-line {background-color: #494949 !important;}
.CodeMirror-hint {
    border-radius: 8px !important;
    color: #ccc !important;
}
.CodeMirror-hints {
    border-radius: 12px !important; 
    border: 1px solid #3f3f3f !important;
    background: #333 !important;
}
.CodeMirror-hint:hover {
    background: #08f !important;
    color: white !important;
}
